[user]
    name = Jakub Wadrzyk
    email = 92339252+Shikoqu@users.noreply.github.com
    username = Shikoqu
[init]
    defaultBranch = main
[core]
    pager = delta
    editor = kak
[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
[push]
    default = matching
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
    # ! ADD
    a = add
    aa = add --all
    # ! BRANCH
    b = branch
    ba = branch -a
    bd = branch -d
    bdd = branch -D
    # ! COMMIT
    c = commit
    ca = commit -a
    cm = commit -m
    # ! CHECKOUT
    o = checkout
    om = checkout main
    ob = checkout -b
    # ! STATUS
    s = status
    sb = status -s
